body {
    font-family: "Georgia", serif;
    font-size: 18px;
    line-height: 1.6;
    color: #333333;
    margin: 20px;
}

/* Títulos */
h1 {
    font-size: 2.5rem;
    color: #003366;
}

h2 {
    font-size: 2rem;
    color: #003366;
}

/* Párrafos */
p {
    font-size: 1.1rem;
    margin-bottom: 1em;
}

/* Enlaces */
a {
    color: #003366;
    text-decoration: none;
}

a:hover {
    color: #7a1f1f;
}
